<nav>
    <ul>
        <div class="nav-logo">
            <img src="" alt="logo no menu de navegação superior" />
        </div>
        <div class="nav-item-wrapper">
            <li class="nav-item">
                <a>Item 1</a>
            </li>
            <li class="nav-item">
                <a>Item 1</a>
            </li>
            <li class="nav-item">
                <a>Item 1</a>
            </li>
            <li class="nav-item">
                <a>Item 1</a>
            </li>
        </div>
    </ul>
</nav>